@charset "UTF-8";
/*.m-aside-left,.m-brand{
	width: 255px;
}*/
.sweet-alert h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.m-form__group.row .m-checkbox-inline, .m-form__group.row .m-radio-inline {
    margin-top: 8px;
}

.m-demo-icon {
    cursor: pointer;
}

.table th.middle, .table td.middle {
    vertical-align: middle;
}

.required {
    color: #f4516c;
}

.select2-result-repository__title {
    color: #000;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 4px;
}

.select2-result-repository__description {
    font-size: 13px;
    color: #777;
    margin-top: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 2px;
    margin-right: 10px;
}

.btn-upload .webuploader-pick {
    background: #0e9aef;
    padding: 6px 10px;
}

.btn-upload .pickers {
    display: inline-block;
}

.btn-upload .webuploader-pick-hover {
    background: #0c87d2;
}

.multi-file-upload .file-item,
.multi-file-upload .webuploader-container,
.multi-image-upload .file-item,
.multi-image-upload .webuploader-container {
    width: 166px;
    height: 106px;
}

.multi-file-upload .uploader-picker,
.multi-image-upload .uploader-picker {
    border: 1px dashed #ddd;
}

.multi-file-upload .webuploader-container label,
.multi-image-upload .webuploader-container label {
    margin-bottom: 0;
}

.multi-file-upload .webuploader-pick,
.multi-image-upload .webuploader-pick {
    width: 100%;
    height: 100%;
    background: #fff;
    color: #676a6c;
    padding-top: 20px;
}

.file-item .file-delete,
.file-item .file-cannel {
    padding: 0px 5px 0 0;
}

.file-item .file-info {
    padding: 0px 5px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.file-item .file-state {
    padding: 3px;
}

.multi-image-upload .full-height {
    height: 100%;
}

.multi-image-upload .file-item {
    position: relative;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.multi-image-upload .file-item .file-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    /*padding: 5px;*/
    width: 100%;
}

.multi-image-upload .file-item .file-preview {
    display: table;
    width: 100%;
    height: 100%;
    /*border: 1px solid #ddd;*/
}

.multi-image-upload .file-item .file-preview span.preview {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}

.multi-image-upload .file-item .file-preview span.preview img {
    display: inline-block;
    max-width: 100%;
    max-height: 96px;
    vertical-align: middle;
    cursor: pointer;
}

.multi-image-upload-lg .webuploader-container,
.multi-image-upload-lg .file-item {
    width: 200px;
    height: 150px;
}

.multi-image-upload-lg .webuploader-container .webuploader-pick {
    padding-top: 40px;
}

.multi-image-upload-lg .file-item .file-preview span.preview img {
    max-height: 138px;
}

.multi-image-upload-lg .file-item .file-progress {
    padding-top: 20px;
}

.p-tb-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-r-xxs {
    padding-right: 5px;
}

.p-r-xs {
    padding-right: 10px;
}

.p-b-xs {
    padding-bottom: 10px;
}

.fa-2x {
    font-size: 2em;
}

.modal .modal-content .padding-top-bottom-none, .padding-top-bottom-none {
    padding-top: 0px;
    padding-bottom: 0px;
}

.modal .modal-content .padding-left-right-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.m-form .m-form__group .form-static-text {
    padding-top: 0.65rem;
}

@media (min-width: 993px) {
    .form-group label.label-right {
        text-align: right;
    }
}

.m-widget2 .m-widget2__item:before {
    left: 0;
}

.m-widget2 .m-widget2__item .m-widget2__checkbox {
    padding-left: 1rem;
}

.sweet-overlay {
    z-index: 1050;
}

.min-height-300 {
    min-height: 300px;
}

.min-height-100 {
    min-height: 100px;
}

.min-height-200 {
    min-height: 200px;
}

.min-height-400 {
    min-height: 400px;
}

@media (min-width: 992px) {
    .modal-lgx {
        max-width: 85%;
    }
}

.m--font-size-12 {
    font-size: 12px;
}

.m--font-size-13 {
    font-size: 13px;
}

.m--font-size-14 {
    font-size: 14px;
}

.m--font-size-16 {
    font-size: 16px;
}

body .m-nowrap {
    word-wrap: break-word;
}

body .m-section-none {
    margin: 0;
}

body .m-line-height-25 {
    line-height: 25px;
}

body .m--padding-left-none {
    padding-left: 0;
}

.m-widget4__item.m-widget4__item--last, .m-widget4__item-border-bottom:last-child {
    border-bottom: 0.07rem dashed #ebedf2;
}
.m-section .m-section__sub-margin-bottom-none{
    margin-bottom: 0;
}
.m-form.m-form-group-padding-bottom-10 .m-form__group{
    padding-bottom: 10px;
}
.display-block{
    display: block;
}
.full-width-height{
    height: 100%;width:100%;
}
.btn-border-none{
    border-style: none;
}
.m--border-radius-none{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.m--font-default{
    color:#575962;
}
.m-widget-user{
    display: inline-block;
}
.m-widget-user .m-widget-img img{
    width: 4rem;
    border-radius: 50%;
}
.m-widget-user .m-widget-text{
    line-height: 25px;
    text-align: center;
}
.m-widget1 .m-widget1__title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #575962;
}
.m-widget1 .m-widget1__header{
    padding: 1.1rem 0;
    margin-bottom: 0.5rem;
}
